body {
	font-family: serif;
}

.title {
	font-family: sans-serif;
}

dl {
	display: inline;
}
	
@media screen {
	.title {
		background-color: #eeeeff;
		color: #333333;
	}
	
	h1.title {
		border: 2px solid gray;
		padding: 0.5em;
		font-size: 150%;
	}
	
	h2.title {
		margin-top: 0.5em;
		border: 1px solid gray;
		padding: 0.5em;
		font-size: 125%;
	}
	
	h3.title {
		margin-top: 0.5em;
		border: 1px solid gray;
		padding: 0.1em;
		font-size: 110%;
	}

	span.title, p.title {
		background-color: #ffffff;
		padding: 0px;
	}
	
	.screen {
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}
	
	.example {
		padding-left: 0.5em;
		padding-right: 0.5em;
		border-left: 8px solid gray;
	}
			
	.example-contents {
		padding-left: 1em;
		padding-right: 1.5em;
	}
	
	.note {
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: 85%;
		font-family: sans-serif;
		border: 1px solid gray;
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	.term {
		text-decoration: underline; 
	}
	
	.programlisting {
		font-size: 90%;
	}
	
	div.navheader,div.navfooter {
		font-family: sans-serif;
		font-size: small;
	}
	
	div.mediaobject {
		margin: 1em;
	}
}

@media print {
	div.navheader,div.navfooter {
		display: none;
	}
}